 <div class="card" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title">{{ project.title }} </h5>
          <h6 class="card-subtitle mb-2 text-muted"><i>Start Date: </i> {{ project.start_date }}</h6>
          <h6 class="card-subtitle mb-2 text-muted"><i>End Date: </i> {{ project.end_date }}</h6>
          <a href="{% url 'webapp:project_detail' project.pk %}" class="card-link"><i class="fa fa-info-circle" aria-hidden="true"></i></a> <- details
      </div>
    </div>
    <p></p>